body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: black;  /* Adjust this color as needed. */
    color: white;
    margin-bottom: 20px;
}

#logo {
    width: 200px;  /* Adjust width as needed. */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the logo. */
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    margin: 40px auto;
    background-color: #333;
}

.variables, .result {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    background-color: #444;
}

label {
    display: block;
    margin: 20px 0;
}

#helpIcon {
    color: #ffffff;  
    font-size: 24px;
    cursor: pointer; 
    position: absolute;  /* This will allow us to position the icon relative to its parent container */
    top: 20px;          /* Adjusts the distance from the top */
    right: 60px;        /* Adjusts the distance from the right */
}
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #333;  /* Slightly lighter than black for contrast */
    color: #ffffff;          /* White font color */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.close {
    color: #aaaaaa;  /* A lighter shade of gray for visibility */
    cursor: pointer;
}

.close:hover {
    color: #ffffff;  /* Turns white when hovered for better interaction feedback */
}


.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.result {
    background-color: #333;
    padding: 40px 20px; /* Increased vertical padding */
    color: white;
    margin-top: 20px;
    border: 1px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result h3 {
    font-size: 16px; /* Adjust as needed. */
    margin-bottom: 10px; /* A small gap between the label and the result. */
}

.result p {
    font-size: 24px;
    margin: 0; /* Remove any default margin for the paragraph to keep it centered. */
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    color: black;
}
h1 a {
    color: inherit;        /* Makes the link color the same as the surrounding text */
    text-decoration: none; /* Removes the underline typically associated with links */
}

h1 a:hover {
    text-decoration: underline; /* Optional: Underline on hover for a hint that it's clickable */
}


/* Style adjustments for select dropdown to match the input fields */
select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: white;
    color: black;
    margin-bottom: 20px; /* Ensure spacing is consistent with other inputs */
}

/* Ensure buttons have a consistent style */
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 49%; /* Adjust based on preference, set to less than 50% to fit two buttons in one line */
    margin-top: 10px;
}

/* Specific style for the Calculate button */
#calculate {
    background-color: #4CAF50; /* A shade of green */
    color: white;
}

/* Specific style for the Clear button */
#clear {
    background-color: #f44336; /* A shade of red */
    color: white;
    margin-left: 0%; /* Ensure a small gap between the two buttons if side by side */
}

button:hover {
    opacity: 0.8;
}

/* If additional specific styling is needed for new input fields */
#inputs input[type="text"] {
    margin-bottom: 10px; /* Ensure there's a gap between input fields */
}

/* Adjust the modal content for better visibility if needed */
.modal-content {
    /* Styles remain the same unless specific changes are required */
}

.configImage img {
    max-width: 300px; /* Adjust based on layout */
    max-height: 200px; /* Maintain aspect ratio but limit height */
    display: block; /* Ensure it's properly block-level for centering */
    margin: 10px auto; /* Center the image and provide some spacing */
}


.calculator button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5CDB95; /* Adjust the color as needed */
    color: white;
    cursor: pointer;
    display: inline-block; /* Ensure buttons are aligned inline */
    margin-right: 5px; /* Add some space between buttons */
}

/* Style for dynamically added "+" button */
.addButton {
    background-color: #f44336; /* A distinct color for the add button */
    color: white;
    font-size: 16px;
    padding: 10px 12px;
    border-radius: 50%; /* Circle shape */
    cursor: pointer;
    margin-left: 10px;
}

.availabilityInput {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between input groups */
}

.availabilityInput input {
    flex-grow: 1; /* Make input take available space */
}
/* Add to styles.css to align buttons and adjust "+" button size */
button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5CDB95; /* Green color; adjust as needed */
    color: white;
    cursor: pointer;
    margin-right: 5px; /* Ensure some space between buttons */
}

#add {
    padding: 5px 10px; /* Smaller padding to match input height */
    font-size: 16px; /* Adjust font size if necessary */
}

.variables {
    display: flex;
    flex-direction: column;
}

#calculate, #clear {
    width: auto; /* Adjust width as necessary */
    display: inline-block; /* Display buttons inline */
}

#inputs {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin-bottom: 5px; /* Space between input fields */
}


